.sliderWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .pointsWrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    //height: 3px;

    .point {
      display: flex;
      //flex-grow: 1;
      //margin-right: 1px;
      margin: 3px;
      height: 5px;
      width: 5px;
      border-radius: 50%;
      background-color: #747bff;

      &.active {
        background-color: crimson;
      }
    }
  }

  .slider {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    .slide {
      min-width: 100vw;
      height: 100%;
      scroll-snap-align: start;
      color: white;
    }
  }
}