.dark-theme {
  --background-color: #292f3b;
  --androoid-background-color: #131c2d;
  --primary-color: rgba(32, 132, 243, 100);
  --secondary-color: #19a6ed;
  --content-color: #e0e0e0;
  --text-color: #e0e0e0;
  --card-bg-color: #131519;

  --primary-color-30: rgba(32, 132, 243, .3);

  --menu-item-gradient: linear-gradient(to right, #1B1E24, rgba(255, 255, 255, 0));
  --devider-vertical-gradient: linear-gradient(to top, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
  --devider-horizontal-gradient: linear-gradient(to right, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
}

html {
  background-color: var(--background-color);
}

#root {
  background-color: var(--background-color);
}