.floatingWrapper {
  width: 100vw;
  height: 100vh;

  .mainArea {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 205px;

    .notification {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: darkorange;
      border-radius: 18px;
    }
  }
}