.appListWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: calc(100Vh - 225px);

  .devider {
    width: 80%;
    height: 1px;
    background: var(--devider-horizontal-gradient);
    margin-bottom: 15px;
  }

  .appList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 100%;
    max-height: calc(100% - 90px);
    overflow-y: auto;
    padding: 10px 0px;
    align-items: flex-start;
    justify-content: flex-start;
  }
}